body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
header{
  margin-top: 10px;
  font-size: x-large;
}
header h1{
  letter-spacing: .5rem;
}
section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section h2,
section h3 {
  text-decoration: underline;
}
section .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
}
article{
  display: flex;
  width: 100%;
}
.personal-data .content article .first{
  flex: .4;
  max-width: 100%;
  text-align: start;
}
.personal-data .content article .second{
  flex: .6;
  max-width: 100%;
  text-align: start;
}
.education .content article .first{
  flex: .8;
  flex-wrap: wrap;
  max-width: 80%;
  text-align: start;
}
.education .content article .second{
  flex: .2;
  text-align: start;
}
ul{
  font-size: 1.2rem;
  list-style-type: circle;
}
ul li{
  text-align: start;
}

/* tablet view */
@media screen and (max-width: 768px){
  main {
    margin: 5% auto;
  }
  section .content {
    font-size: 1.1rem;
  }
}

/* phone view */
@media screen and (max-width: 360px){
  main {
    margin: 0;
  }
  section .content {
    font-size: 1rem;
  }
}